mat-icon {
  cursor: pointer;
}

.affected {

  background: cornflowerblue;
  color: white;
  border-radius: 10px;
  text-align: center;
}

.panne {
  background: darkred;
  color: white;
  border-radius: 10px;
  text-align: center;
}

.disponible {
  background: green;
  color: white;
  border-radius: 10px;
  text-align: center;
}
